# Server configuration
sonar.web.host=0.0.0.0
sonar.web.port=9000
sonar.web.context=/sonar

# Database configuration
sonar.jdbc.username=sonar
sonar.jdbc.password={{ sonarqube_db_password }}
sonar.jdbc.url=jdbc:postgresql://localhost/sonarqube

# Logging configuration
sonar.log.level=INFO
sonar.path.logs=logs

# Elasticsearch configuration
sonar.search.javaOpts=-Xmx512m -Xms512m -XX:+HeapDumpOnOutOfMemoryError